Repository SamBroomy/is-it-slop: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-notebooks, just-fmt, cargo-machete, cargo-audit, cargo-clippy, cargo-fmt, cargo-doc, maturin-check

sync-notebooks:
  name: Sync notebooks to scripts
  entry: just sync-notebooks
  language: system
  pass_filenames: false

just-fmt:
  name: just fmt
  entry: just --unstable --fmt
  language: system
  stages:
  - pre-commit
  pass_filenames: false

cargo-machete:
  name: cargo machete
  description: Find unused dependencies
  entry: just cargo-machete
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Audit for security vulnerabilities
  entry: just cargo-audit
  language: system
  pass_filenames: false
  stages:
  - manual
  - pre-push

cargo-clippy:
  name: cargo clippy
  description: Run cargo clippy with fixes (multiple feature sets)
  entry: just rust-lint-fix
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with cargo fmt
  entry: cargo +nightly fmt --all
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds
  entry: just cargo-docs
  language: system
  stages:
  - pre-commit
  pass_filenames: false

maturin-check:
  name: maturin check
  description: Verify Python bindings can build
  entry: just maturin-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(is-it-slop): release v0.5.0-beta.4
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.5.0-beta.6
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: add LICENSE files to Python packages for maturin compatibility
  .github/workflows/release.yaml
  .gitignore
  python/is-it-slop-preprocessing/LICENSE
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/LICENSE
  python/is-it-slop/pyproject.toml
Due: none

chore: release v0.5.0-beta.6
  Cargo.lock
Due: none

fix: use inline MIT license text instead of file reference
  python/is-it-slop-preprocessing/LICENSE
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/LICENSE
  python/is-it-slop/pyproject.toml
Due: none

fix: native-tls 0.2.17 breaks builds, pinning 0.2.16 for now
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/src/lib.rs
Due: cargo-machete, cargo-clippy, cargo-fmt, maturin-check

chore: release v0.5.0-beta.7
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: native-tls updated
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.5.0
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

update readme
  python/is-it-slop/README.md
Due: none

profiled code and uses batch pre-processing
  Cargo.lock
  README.md
  crates/is-it-slop-preprocessing/examples/train_profile.rs
  crates/is-it-slop-preprocessing/src/pre_processor/tokenizer.rs
  crates/is-it-slop-preprocessing/src/pre_processor/vectorizer/count_vectorizer.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/examples/inference_profile.rs
  notebooks/dataset_curation.ipynb
  notebooks/dataset_curation.py
  notebooks/train.ipynb
  notebooks/train.py
Due: sync-notebooks, cargo-clippy, cargo-fmt

readme update
  .pre-commit-config.yaml
  README.md
Due: none

fixed tests
  crates/is-it-slop/tests/integration_test.rs
Due: cargo-clippy, cargo-fmt

fixed keywords
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

is-it-slop dep on is-it-slop-preprocessing crate
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.6.0-alpha.0
  Cargo.lock
  crates/is-it-slop/CHANGELOG.md
Due: none

chore: release v0.6.0-alpha.1
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix ci to release assets
  .github/workflows/CI.yaml
  .github/workflows/release-binaries.yaml
  .github/workflows/release.yaml
  notebooks/chunk_experiment.py
  notebooks/dataset_curation.py
  notebooks/extra_feature_experiment.py
  notebooks/train.py
  pyproject.toml
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop-preprocessing/tests/test_edge_cases.py
  python/is-it-slop/pyproject.toml
  uv.lock
Due: maturin-check

fix ci
  .github/workflows/CI.yaml
  .github/workflows/release.yaml
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/pyproject.toml
  uv.lock
Due: none

fix test
  .github/workflows/CI.yaml
  python/is-it-slop-preprocessing/tests/test_edge_cases.py
Due: none

fix tls error
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

remove mimalloc to fix static TLS allocate error
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop/Cargo.toml
Due: cargo-clippy

fix tls error
  .github/workflows/CI.yaml
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop/Cargo.toml
Due: cargo-clippy

fix tls error
  .github/workflows/CI.yaml
  notebooks/__init__.py
Due: none

remove mimalloc to fix static TLS allocate error
  .github/workflows/CI.yaml
  crates/is-it-slop/src/python/mod.rs
Due: cargo-clippy, cargo-fmt

remove mimalloc
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop-preprocessing/README.md
  crates/is-it-slop-preprocessing/examples/train_profile.rs
  crates/is-it-slop-preprocessing/examples/vectorizer_benchmark.rs
  crates/is-it-slop-preprocessing/src/python/mod.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/examples/inference_profile.rs
  crates/is-it-slop/src/bin/is-it-slop.rs
  crates/is-it-slop/src/python/mod.rs
  justfile
Due: just-fmt, cargo-machete, cargo-clippy, cargo-fmt, maturin-check

chore: release v0.6.0-alpha.2
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

ci updates
  .github/workflows/CI.yaml
  .github/workflows/README.md
  .github/workflows/release-binaries.yaml
  .github/workflows/release-plz.yaml
  .github/workflows/release.yaml
  .gitignore
  README.md
Due: none

chore: release v0.6.0-alpha.3
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

workflow, documentation, display output
  .github/workflows/release-binaries.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/is-it-slop-preprocessing/src/pre_processor/features/statistical.rs
  crates/is-it-slop-preprocessing/src/pre_processor/features/utils.rs
  crates/is-it-slop-preprocessing/src/python/mod.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/bin/is-it-slop.rs
  crates/is-it-slop/src/cli/mod.rs
  crates/is-it-slop/src/pipeline/classification.rs
  crates/is-it-slop/src/pipeline/mod.rs
  crates/is-it-slop/src/pipeline/prediction.rs
  crates/is-it-slop/src/python/mod.rs
  python/is-it-slop/README.md
  python/is-it-slop/src/is_it_slop/__init__.py
  uv.lock
Due: cargo-machete, cargo-clippy, cargo-fmt, maturin-check

version bumps
  Cargo.lock
  uv.lock
Due: none

cleanup of files and dirs
  .gitignore
  .taplo.toml
  .vscode/settings.json
  assets/pink-307853.svg
  crates/is-it-slop/build.rs
  crates/is-it-slop/examples/inference_profile.rs
  data/.gitkeep
  justfile
  model_artifacts/.gitkeep
Due: just-fmt, cargo-clippy, cargo-fmt

chore: release v0.6.0-alpha.4
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: binstall pkg-fmt
  .cargo/config.toml
  crates/is-it-slop/Cargo.toml
Due: cargo-clippy

self update & brew installs
  .cargo/config.toml
  .github/workflows/homebrew.yaml
  .github/workflows/release-binaries.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/bin/is-it-slop.rs
  crates/is-it-slop/src/cli/install_source.rs
  crates/is-it-slop/src/cli/mod.rs
  crates/is-it-slop/src/cli/self_update.rs
  crates/is-it-slop/src/python/mod.rs
  install.sh
  justfile
  uv.lock
Due: just-fmt, cargo-machete, cargo-clippy, cargo-fmt, maturin-check

updated readme
  README.md
Due: none

chore: release v0.6.0-alpha.5
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

updated model svg
  plots/slop-classifier.onnx.svg
Due: none

Path conditions:
  sync-notebooks: any of: \.ipynb$
  just-fmt: any of: ^justfile$
  cargo-machete: any of: ^Cargo\.toml$ and \.toml$
  cargo-audit: any of: ^Cargo\.lock$ and \.toml$
  cargo-clippy: any of: (\.rs$|Cargo\.toml$|Cargo\.lock$) and \.rs$, \.toml$
  cargo-fmt: any of: \.rs$ and \.rs$
  cargo-doc: any of: (Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs)$ and \.rs$ and \.toml$
  maturin-check: any of: ^(pyproject\.toml|Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs|crates/*/build\.rs)$ and \.rs$, \.toml$
