Repository SamBroomy/is-it-slop: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-notebooks, just-fmt, cargo-machete, cargo-audit, cargo-clippy, cargo-fmt, cargo-doc, maturin-check

sync-notebooks:
  name: Sync notebooks to scripts
  entry: just sync-notebooks
  language: system
  pass_filenames: false

just-fmt:
  name: just fmt
  entry: just --unstable --fmt
  language: system
  stages:
  - pre-commit
  pass_filenames: false

cargo-machete:
  name: cargo machete
  description: Find unused dependencies
  entry: just cargo-machete
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Audit for security vulnerabilities
  entry: just cargo-audit
  language: system
  pass_filenames: false
  stages:
  - manual
  - pre-push

cargo-clippy:
  name: cargo clippy
  description: Run cargo clippy with fixes (multiple feature sets)
  entry: just rust-lint-fix
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with cargo fmt
  entry: cargo +nightly fmt --all
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Check documentation builds
  entry: just cargo-docs
  language: system
  stages:
  - pre-commit
  pass_filenames: false

maturin-check:
  name: maturin check
  description: Verify Python bindings can build
  entry: just maturin-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: release v0.3.3
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.3.4
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.3.5
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

feat!: bump minor
  .gitignore
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
  release-plz.toml
Due: none

feat!: bump minor
  Cargo.toml
  release-plz.toml
Due: cargo-machete, cargo-clippy, maturin-check

feat!: bump minor
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

feat!: bump minor
  release-plz.toml
Due: none

fix ci
  .github/workflows/release.yaml
Due: none

stub model (no model download for docs build)
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/build.rs
Due: cargo-clippy, cargo-fmt

fmt
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/src/pre_processor/vectorizer/ngrams.rs
  crates/is-it-slop-preprocessing/src/pre_processor/vectorizer/tfidf_vectorizer.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/cli/mod.rs
  crates/is-it-slop/src/pipeline/mod.rs
  rustfmt.toml
Due: cargo-machete, cargo-clippy, cargo-fmt, maturin-check

updated repo metadata
  Cargo.toml
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/build.rs
  crates/is-it-slop/src/lib.rs
  pyproject.toml
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/pyproject.toml
Due: cargo-machete, cargo-clippy, cargo-fmt, maturin-check

updated repo metadata
  .gitattributes
  .github/workflows/CI.yaml
  .github/workflows/release.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop-preprocessing/src/pre_processor/mod.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/bin/is-it-slop.rs
  justfile
  notebooks/__init__.py
  notebooks/plots.py
  notebooks/train.ipynb
  notebooks/train.py
  ruff.toml
Due: sync-notebooks, just-fmt, cargo-machete, cargo-clippy, cargo-fmt, maturin-check

Update README.md
  README.md
Due: none

fixed tests
  crates/is-it-slop-preprocessing/src/lib.rs
  crates/is-it-slop-preprocessing/src/pre_processor/ngrams.rs
  crates/is-it-slop-preprocessing/src/pre_processor/vectorizer/mod.rs
  crates/is-it-slop/src/model/mod.rs
  crates/is-it-slop/src/pipeline/mod.rs
  crates/is-it-slop/src/pipeline/prediction.rs
Due: cargo-clippy, cargo-fmt

chore: release v0.5.0-alpha.0
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fixed for release
  Cargo.toml
  crates/is-it-slop-preprocessing/src/pre_processor/ngrams.rs
  crates/is-it-slop-preprocessing/src/python/mod.rs
  crates/is-it-slop/src/python/mod.rs
  justfile
Due: just-fmt, cargo-machete, cargo-clippy, cargo-fmt, maturin-check

workflow changes
  .github/workflows/release.yaml
  .gitignore
  README.md
  plots/slop-classifier.onnx.svg
Due: none

chore: release v0.5.0-alpha.1
  Cargo.lock
  Cargo.toml
  crates/is-it-slop-preprocessing/CHANGELOG.md
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

workflow changes
  .github/workflows/release.yaml
Due: none

bump beta
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.5.0-beta.1
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fixed python release pipeline
  .github/workflows/release.yaml
Due: none

remove comments
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

docs: added docs to see if release-me works
  crates/is-it-slop/src/lib.rs
Due: cargo-clippy, cargo-fmt

chore: release v0.5.0-beta.2
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: drop x86_64 macOS wheels (ort lacks prebuilt binaries)
  .github/workflows/release.yaml
Due: none

chore: release v0.5.0-beta.3
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: upload using uv not maturin
  .github/workflows/release.yaml
  crates/is-it-slop/build.rs
  pyproject.toml
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/pyproject.toml
  uv.lock
Due: cargo-clippy, cargo-fmt, maturin-check

chore: release v0.5.0-beta.4
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

docs: fix PyPI metadata and comprehensive README updates
  .github/workflows/release.yaml
  .gitignore
  LICENSE
  crates/is-it-slop-preprocessing/Cargo.toml
  crates/is-it-slop-preprocessing/README.md
  pyproject.toml
  python/is-it-slop-preprocessing/README.md
  python/is-it-slop-preprocessing/pyproject.toml
  python/is-it-slop/README.md
  python/is-it-slop/pyproject.toml
Due: cargo-clippy, maturin-check

Path conditions:
  sync-notebooks: any of: \.ipynb$
  just-fmt: any of: ^justfile$
  cargo-machete: any of: ^Cargo\.toml$ and \.toml$
  cargo-audit: any of: ^Cargo\.lock$ and \.toml$
  cargo-clippy: any of: (\.rs$|Cargo\.toml$|Cargo\.lock$) and \.rs$, \.toml$
  cargo-fmt: any of: \.rs$ and \.rs$
  cargo-doc: any of: (Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs)$ and \.rs$ and \.toml$
  maturin-check: any of: ^(pyproject\.toml|Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs|crates/*/build\.rs)$ and \.rs$, \.toml$
