Repository SamBroomy/is-it-slop: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-notebooks, just-fmt, cargo-machete, cargo-audit, cargo-clippy, cargo-fmt, cargo-doc, maturin-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout

  - repo: local
    hooks:
      - id: sync-notebooks
        name: Sync notebooks to scripts
        entry: just sync-notebooks
        language: system
        files: \.ipynb$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: no-commit-to-branch
      #   args: [--branch, main]
      #   stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
        exclude: '^notebooks/.*\.py$' # Exclude synced notebook scripts
      - id: mixed-line-ending
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
        exclude: '^notebooks/.*\.py$' # Exclude synced notebook scripts

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.15
    hooks:
      - id: uv-sync
        args: ["--locked", "--all-packages"]
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
        types_or: [python]
        stages: [pre-commit]
        files: '^python/.*\.py$'
        types: [python]
      - id: ruff-format
        name: ruff format
        files: '^python/.*\.py$'
        types: [python]

  - repo: local
    hooks:
      # Justfile hooks
      - id: just-fmt
        name: just fmt
        entry: just --unstable --fmt
        language: system
        files: ^justfile$
        stages: [pre-commit]
        pass_filenames: false
      # Cargo machete (only when Cargo.toml changes)
      - id: cargo-machete
        name: cargo machete
        description: Find unused dependencies
        entry: just cargo-machete
        language: system
        files: '^Cargo\.toml$'
        types: [toml]
        pass_filenames: false
      # Cargo audit (only when Cargo.lock changes or on manual trigger)
      - id: cargo-audit
        name: cargo audit
        description: Audit for security vulnerabilities
        entry: just cargo-audit
        language: system
        files: '^Cargo\.lock$'
        types: [toml]
        pass_filenames: false
        stages: [manual, pre-push]
      # Clippy (only on Rust files or Cargo.toml changes)
      - id: cargo-clippy
        name: cargo clippy
        description: Run cargo clippy with fixes (multiple feature sets)
        entry: just rust-lint-fix
        language: system
        files: '(\.rs$|Cargo\.toml$|Cargo\.lock$)'
        types_or: [rust, toml]
        pass_filenames: false
      # Cargo fmt (only on Rust files)
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with cargo fmt
        entry: cargo +nightly fmt --all
        language: system
        files: '\.rs$'
        types: [rust]
        pass_filenames: false
      # Cargo doc (documentation check)
      - id: cargo-doc
        name: cargo doc
        description: Check documentation builds
        entry: just cargo-docs
        language: system
        files: '(Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs)$'
        types: [rust, toml]
        stages: [pre-commit]
        pass_filenames: false
      # Maturin build check (Python bindings)
      - id: maturin-check
        name: maturin check
        description: Verify Python bindings can build
        entry: just maturin-check
        language: system
        files: '^(pyproject\.toml|Cargo\.toml|crates/*/Cargo\.toml|crates/*/src/.*\.rs|crates/*/build\.rs)$'
        types_or: [rust, toml]
        pass_filenames: false
        stages: [pre-push]

fix: workflows
  .github/workflows/release-binaries.yaml
  .github/workflows/release.yaml
Due: none

chore: bump version
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.6.0-beta.1
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

chore: update readme
  README.md
Due: none

fix: workflows
  .github/workflows/release.yaml
Due: none

chore: release v0.6.0-beta.2
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

chore: bump minor
  .github/workflows/release-binaries.yaml
  .github/workflows/release.yaml
  Cargo.lock
  Cargo.toml
Due: cargo-machete, cargo-clippy, maturin-check

manual update changelog
  crates/is-it-slop/CHANGELOG.md
Due: none

feat: added android/kotlin bindings
  .github/workflows/README.md
  .github/workflows/homebrew.yaml
  .github/workflows/release-assets.yaml
  .github/workflows/release-binaries.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  android/SlopDetector.kt
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/kotlin/mod.rs
  crates/is-it-slop/src/lib.rs
  justfile
Due: just-fmt, cargo-machete, cargo-clippy, cargo-fmt, maturin-check

chore: release v0.6.1
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix: ci
  .github/workflows/release-assets.yaml
Due: none

fix: ci to release android assets
  .github/workflows/release-assets.yaml
Due: none

chore: release v0.6.2
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

feat: add android bindings with jitpack dep
  .cargo/config.toml
  .gitignore
  Cargo.lock
  Cargo.toml
  android/.gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/io/github/codewithtamim/IsItSlop.kt
  android/app/src/main/res/values/strings.xml
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/jitpack.yml
  android/settings.gradle.kts
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/android.rs
  crates/is-it-slop/src/lib.rs
Due: cargo-machete, cargo-clippy, cargo-fmt, maturin-check

Update README.md
  README.md
Due: none

chore: move the gradle build scripts.
  .gitignore
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  jitpack.yml
  settings.gradle.kts
Due: none

jitpack: install NDK, publish to maven local
  jitpack.yml
Due: none

jitpack: fix NDK detection, conditional Rust build
  jitpack.yml
Due: none

readme: fix JitPack dependency
  README.md
Due: none

fix: fix linker and artifact names
  .github/workflows/README.md
  .github/workflows/release-assets.yaml
  README.md
  justfile
Due: just-fmt

updated readme
  README.md
Due: none

chore: release v0.6.3
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

updated deps
  .github/workflows/release-assets.yaml
Due: none

install scripts
  .gitignore
  README.md
  install.ps1
  install.sh
Due: none

install scripts
  install.ps1
  install.sh
Due: none

update deps, stable toolchain
  .pre-commit-config.yaml
  Cargo.toml
  rust-toolchain.toml
Due: cargo-machete, cargo-clippy, maturin-check

chore: release v0.6.4
  Cargo.lock
  Cargo.toml
  crates/is-it-slop/CHANGELOG.md
Due: cargo-machete, cargo-clippy, maturin-check

fix(jitpack): fix YAML parsing, rename android/app to android/library
  android/library/build.gradle.kts
  android/library/proguard-rules.pro
  android/library/src/main/AndroidManifest.xml
  android/library/src/main/java/io/github/codewithtamim/IsItSlop.kt
  android/library/src/main/res/values/strings.xml
  jitpack.yml
  settings.gradle.kts
Due: none

chore: disable Android AAR workflow (now via JitPack)
  .github/workflows/release-assets.yaml
Due: none

fix comment wording
  .github/workflows/release-assets.yaml
Due: none

fix: wire buildRustLibrary into build lifecycle so .so is included in AAR
  android/library/build.gradle.kts
  jitpack.yml
Due: none

fix: handle empty ANDROID_NDK_HOME in onlyIf, fix sdkmanager path detection on JitPack
  Cargo.toml
  android/library/build.gradle.kts
  jitpack.yml
Due: cargo-machete, cargo-clippy, maturin-check

android: switch to RustJNI plugin for AAR build
  .gitignore
  android/gradle.properties
  android/library/build.gradle.kts
  android/library/rust/Cargo.toml
  android/library/rust/src/lib.rs
  crates/is-it-slop/Cargo.toml
  crates/is-it-slop/src/lib.rs
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  jitpack.yml
  settings.gradle.kts
Due: cargo-clippy, cargo-fmt

jitpack: create local.properties and fix sdkmanager Java version
  jitpack.yml
Due: none

jitpack: download NDK directly instead of using sdkmanager
  jitpack.yml
Due: none

fix: split ort deps per-target to avoid tls-native on Android
  crates/is-it-slop/Cargo.toml
  jitpack.yml
Due: cargo-clippy

fix: add kotlin plugin so IsItSlop.kt compiles into AAR
  android/library/build.gradle.kts
  gradle/libs.versions.toml
Due: none

fix: wire rust-jni-compile before JniLibFolders merge
  android/library/build.gradle.kts
Due: none
